
                <ul>

                {%- for action in record_actions %}

                    <li>
                        <a href="{{ "{{ path('" ~ route_name_prefix ~ "_" ~ action ~ "', { 'id': entity.id }) }}" }}">{{'{% trans %}'}}{{ action }}{{'{% endtrans %}'}}</a>
                    </li>

                {%- endfor %}

                </ul>
