<ul class="record_actions">
    <li>
        <a href="{{ "{{ path('" ~ route_name_prefix ~ "') }}" }}">
            {{'{% trans %}'}}Back to the list{{'{% endtrans %}'}}
        </a>
    </li>
{% if ('edit' in actions) and (not hide_edit) %}
    <li>
        <a href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { 'id': entity.id }) }}" }}">
            {{'{% trans %}'}}Edit{{'{% endtrans %}'}}
        </a>
    </li>
{% endif %}
{% if ('delete' in actions) and (not hide_delete) %}
    <li>{{ '{{ form(delete_form) }}' }}</li>
{% endif %}
</ul>
