* {
	margin:0;
	padding:0;
}

ul {
	list-style:none;
}

body {
	background:url(talling.gif) repeat-x left top #FFFFFF;
	color:#3c3c3c;
	font-size:11px;
	font-family:Tahoma;
	line-height:14px;
}

table {
	border-collapse:collapse;
	border:0;
}

td {
	border:none;
	padding:0;
}

a {
	color:#3c3c3c;
	text-decoration:underline;
}

a:hover {
	text-decoration:none;
}

img {
	border:0;
}

.column {
	float:left;
}

.clear {
	clear:both;
}

input, textarea {
	font-family:Tahoma;
	font-size:11px;
	color:#000000;
	vertical-align:middle;
	font-weight:normal;
	background:#FFFFFF;
	text-align:left;
}

.main {
	width:100%;
}

#header {
	height:306px;
	background:url(h_back1.gif) no-repeat 100% 63px;
}

#menu {
	height:63px;
}

#menu .col1 {
	float:left;
}

#menu .col1 .indent {
	padding:25px 0 0 25px;
}

#menu .col2 {
	float:right;
}

#menu .col2 .indent {
	padding:22px 14px 0 0;
}

#menu li {
	float:left;
	color:#1465a4;
	font-weight:bold;
	list-style:none;
}

#menu li a {
	color:#1465a4;
	text-decoration:none;
	padding-right:34px;
}

#menu li a:hover {
	text-decoration:underline;
}

#logo .indent {
	padding:82px 0 0 37px;
}

#logo span {
	font-size:0.91em;
	color:#ffffff;
	font-weight:bold;
}

h1 {
	font-family:Arial;
	font-size:3.36em;
	color:#ffffff;
	line-height:1.01em;
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:-3px;
}

h1 a {
	color:#ffffff;
	text-decoration:none;
}

#content {
	width:100%;
	background:url(b_talling.gif) repeat-x left top #FFFFFF;
}

#content .indent {
	padding:26px 26px 20px 26px;
}

#left_column {
	float:left;
	width:23%;
}

#left_column .in1 {
	background:url(l_col_tall.gif) repeat-y left top;
}

#left_column .in2 {
	background:url(top.jpg) no-repeat left top;
}

#left_column .in3 {
	background:url(bottom.jpg) no-repeat left bottom;
	width:100%;
}

#left_column .in4 {
	padding:24px 60px 10px 42px;
}

#center_column {
	float:left;
	width:76%;
}

#center_column .indent {
	padding:10px;
}

.widget_style {
	width:auto;
	margin-bottom:15px;
}

h2 {
	color:#1465a4;
	font-size:1.01em;
	font-weight:bold;
	text-transform:uppercase;
	padding-top:3px;
	padding-bottom:3px;
}

h2 a {
	color:#1465a4;
	text-decoration:none;
}

h2 a:hover {
	text-decoration:none;
}

ul {
	margin:0;
}

.widget_style ul {
	margin:0;
}

.widget_style li {
	line-height:1.81em;
	color:#383838;
	background:url(pimp1.gif) no-repeat 0px 8px;
	padding-left:11px;
}

.widget_style li a {
	color:#383838;
	text-decoration:underline;
}

.widget_style li a:hover {
	text-decoration:none;
}

#recent-comments.widget_style li {
	background:none;
	color:#ffffff;
	font-weight:bold;
	padding-left:0;
}

#recent-comments.widget_style li a {
	color:#ffffff;
	text-decoration:underline;
	font-weight:normal;
}

#recent-comments.widget_style li a:hover {
	text-decoration:none;
}

#recent-posts.widget_style li {
	background:none;
	color:#ffffff;
	font-weight:bold;
	padding-left:0;
}

.searching {
	width:289px;
	height:auto;
	color:#000000;
	font-weight:bold;
	background-color:#FFFFFF;
	height:18px;
	margin-right:11px;
}

#links_with_style ul {
	margin-left:0;
	background:none;
}

#links_with_style ul ul {
	margin:0 0 0 0;
	background:none;
	margin-top:12px;
}

#links_with_style ul li {
	list-style:none;
	margin:0;
	padding:0;
	background:none;
}

#links_with_style ul li ul li {
	padding:0 0 0 11px;
	color:#2A2A2A;
	font-size:1.01em;
	background:url(pimp1.gif) no-repeat 0px 8px;
}

ul.children {
	margin:0;
}

#meta {
	vertical-align:top;
}

#categories {
	vertical-align:top;
}

#archives {
	vertical-align:top;
}

#archives li {
}

#title {
	background:url(titleback.gif) repeat-x left bottom;
	padding-bottom:20px;
	width:100%;
}

#title .col1 {
	float:left;
	padding-left:4px;
	width:auto;
}

#title .col2 {
	float:right;
	padding-right:4px;
	padding-top:5px;
	width:auto;
}

h3 {
	color:#111312;
	font-weight:bold;
	font-size:1.01em;
	line-height:1.01em;
}

h3 a {
	color:#111312;
	text-decoration:none;
}

h3 a:hover {
	text-decoration:underline;
}

.author {
	color:#6e6e6e;
	font-size:1.01em;
}

.author a {
	color:#6e6e6e;
	text-decoration:none;
}

.author a:hover {
	text-decoration:underline;
}

.date {
	font-size:1.01em;
	color:#587c9b;
	font-size:1.01em;
	font-weight:bold;
	background:url(pimp2.gif) no-repeat 0px 0px;
	padding-left:14px;
}

#comments {
	color:#1465a4;
	text-align:left;
	padding-top:15px;
}

#comments a {
	text-decoration:underline;
	color:#1465a4;
	font-size:1.01em;
}

#comments a:hover {
	text-decoration:none;
}

#content_text {
	background:url(line.gif) repeat-x left bottom;
	margin-bottom:28px;
}

#content_text .indentX {
	padding:11px 4px 0 4px;
	text-align:justify;
}

#content_text ul {
	padding:0;
	list-style:none;
}

#content_text li {
	line-height:2.09em;
	color:#484545;
}

#content_text li a {
	color:#484545;
	text-decoration:underline;
	background:url(pimp3.gif) no-repeat left;
	padding-left:13px;
}

#content_text li a:hover {
	text-decoration:none;
}

.postmetadataalt {
	font-size:0.81em;
}

.pagetitle {
	color:#FF0000;
	font-size:1.01em;
	font-weight:bold;
	text-transform:uppercase;
	padding:20px 0px 0px 0;
	background:none;
}

p {
	padding:10px 0px 10px 0px;
}

.article {
	padding:0;
}

.post {
	padding:0px 5px 0px 5px;
}

.navigation {
	padding:0px 0px 10px 0px;
	width:100%;
	color:#000000;
	font-size:1.01em;
}

.navigation a {
	color:#000000;
	font-weight:bold;
}

.navigation .left {
	width:45%;
	float:left;
	padding-left:10px;
}

.navigation .right {
	width:45%;
	float:right;
	text-align:right;
	padding-right:10px;
}

#footer {
	color:#565656;
	text-align:right;
	padding:30px 28px 30px 0;
	background:url(f_back.gif) repeat-x left top #ffffff;
}

#footer a {
	color:#565656;
	text-decoration:underline;
}

#footer a:hover {
	text-decoration:none;
}

#recent-comments {
	padding-top:25px;
}

#recent-posts {
	vertical-align:top;
}

#calendar {
	vertical-align:top;
}

#calendar caption {
	font-weight:bold;
	color:#FF0000;
	padding-bottom:5px;
	width:auto;
}

#google-search {
	vertical-align:top;
}

#gsearch {
	text-align:left;
}

#pages {
	vertical-align:top;
}

#text-1 {
	vertical-align:top;
}

#delicious {
	vertical-align:top;
}

#delicious-box {
	text-align:left;
}

#calendar_wrap {
	vertical-align:top;
	padding:13px 0px 0px 15px;
}

#calendar_wrap a {
	font-weight:bold;
}

.textwidget {
	padding:13px 0px 0px 0px;
}

#statusbar {
	text-align:justify;
	color:#000000;
	padding-bottom:10px;
}

#statusbar p {
	padding:0px 0px 0px 0px;
}

#statusbar a {
	font-weight:bold;
	color:#FF9900;
}

.widget_style.search {
	background:none;
	margin:0;
	padding:0;
}


