<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
        <meta name="robots" content="noindex,nofollow" />
        <title>{% block title 'Demo Bundle' %}</title>
        <link href="{{ asset('bundles/framework/css/structure.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/framework/css/body.css') }}" rel="stylesheet" type="text/css" media="all" />
        {% block head %}
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/acmedemo/css/demo.css') }}" />
{% endblock %}
    </head>
    <body>
        <div id="content">
            <div class="header clear-fix">


            </div>
            <div id="sidebar">
              {% block main_menu %}  
   
              {% endblock %}
                </div>
                <div class="sf-reset">
                {% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div class="flash-message">
                            <em>Notice</em>: {{ flashMessage }}
                        </div>
    {% endfor %}

    {% block content_header %}
                        <ul id="menu">

                        </ul>

                        <div style="clear: both"></div>
    {% endblock %}

                        <div class="block">
        {% block content %}{% endblock %}
                            </div>

    {% if code is defined %}
                            <h2>Code behind this page</h2>
                            <div class="block">
                                <div class="symfony-content">{{ code|raw }}</div>
                            </div>
    {% endif %}
{% endblock %}
                        </div>
                    </div>
                </body>
            </html>







