<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
        <meta name="robots" content="noindex,nofollow" />
        <title>{% block title 'Demo Bundle' %}</title>
        <link href="{{ asset('bundles/framework/css/structure.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/framework/css/body.css') }}" rel="stylesheet" type="text/css" media="all" />
        {% block head %}
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/acmedemo/css/style.css') }}" />
{% endblock %}
    </head>
    <body>
        <div class="main">
      <div id="header">
             
        <div id="menu">
          {% block main_menu %}{% endblock %} 
        </div>
        <div id="logo">
          <div class="indent"><h1>
              <a href="{{ path('_welcome') }}">Symfony demo</a></h1>
            <span>Lorem ipsum
            </span>
          </div>
        </div>
      </div>
      <div id="content">
        <div class="indent">
          <div id="left_column">
            <div class="in1">
              <div class="in2">
                <div class="in3" id="h1">
                  <div id="top1">
                  </div>
                  <div class="in4">
                    <div id="statusbar">
                    </div>
                          {% block left_menu %}{% render url('_leftbar') %}{% endblock %}                                       
                  </div>
                  <div id="bottom1">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="center_column">
           {% block content %}{% endblock %}
          </div>
          <div class="clear">
          </div>
        </div>
      </div>
      <div id="footer">
        <span style="text-transform:capitalize; font-weight:bold;">
        </span> is proudly powered by 
        <a href="http://symfony.com/" target="_blank">Symfony2</a>
        
        <br>
      </div>
    </div>
  </body>
                </body>
            </html>







