body {
    font-size: 14px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}
h1.title {
    font-size: 45px;
    padding-bottom: 30px;
}
.sf-reset h2 {
    font-weight:   bold;
    color:         #FFFFFF;
    /* Font is duplicated of body (sans-serif) */
    font-family:      "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;

    margin-bottom:    10px;
    background-color: #aacd4e;
    padding:          2px 4px;
    display:          inline-block;
    text-transform:   uppercase;

}
p {
    line-height:    20px;
    padding-bottom: 20px;
}
ul#demo-list a {
    background: url(../images/blue-arrow.png) no-repeat right 6px;
    padding-right: 10px;
    margin-right:  30px;
}
#symfony-header {
    position: relative;
    padding: 30px 30px 20px 30px;
}
.sf-reset .symfony-blocks-welcome {
    overflow: hidden;
}
.sf-reset .symfony-blocks-welcome > div {
    background-color: whitesmoke;
    float:            left;
    width:            240px;
    margin-right:     14px;
    text-align:       center;
    padding:          26px 20px;
}
.sf-reset .symfony-blocks-welcome > div.block-demo {
    margin-right: 0;
}
.sf-reset .symfony-blocks-welcome .illustration {
    padding-bottom: 20px;
}
.sf-reset .symfony-blocks-help {
    overflow: hidden;
}
.sf-reset .symfony-blocks-help {
    margin-top: 30px;
    padding:    18px;
    border:     1px solid #E6E6E6;
}
.sf-reset .symfony-blocks-help > div {
    width:        254px;
    float:        left;
}
.flash-message {
    padding: 10px;
    margin: 5px;
    margin-top: 15px;
    background-color: #ffe;
}
.sf-reset .error {
    color: red;
}
#login label, #contact_form label {
    display: block;
    float: left;
    width: 90px;
}
.sf-reset ul#menu {
    float: right;
    margin-bottom: 20px;
    padding-left: 0;
}
.sf-reset #menu li {
    padding-left: 0;
    margin-right: 10px;
    display: inline;
}
.sf-reset a,
.sf-reset li a {
    color: #08C;
    text-decoration: none;
}
.sf-reset a:hover,
.sf-reset li a:hover {
    color: #08C;
    text-decoration: underline;
}
.sf-reset .symfony-content pre {
    white-space: pre;
    font-family: monospace;
}

#mainmenu{
    
    list-style: none;
    margin-top:-32px;
    position:absolute;
}

#mainmenu li{
    
  float:left;
  padding: 5px;
  background:#EEEEEE;
}

#mainmenu a{
    
  text-decoration: none;
  color: black;
  
    
}


.records_list thead tr{
    
    background:#EEEEEE;
    
}

.records_list td,.records_list th{
    
    padding:10px;
    
}

.records_list li{
    
    float:left;
    margin-left: 5px;
}

.pagination .current{
    font-weight: bold;
    
}
