* {
	margin:0;
	padding:0;
}

ul {
	list-style:none;
}

body {
	background:url(../images/talling.gif) repeat-x left top #FFFFFF;
	color:#3c3c3c;
	font-size:11px;
	font-family:Tahoma;
	line-height:14px;
}

table {
	border-collapse:collapse;
	border:0;
}

td {
	border:none;
	padding:0;
}

a {
	color:#3c3c3c;
	text-decoration:underline;
}

a:hover {
	text-decoration:none;
}

img {
	border:0;
}

.column {
	float:left;
}

.clear {
	clear:both;
}

input, textarea {
	font-family:Tahoma;
	font-size:11px;
	color:#000000;
	vertical-align:middle;
	font-weight:normal;
	background:#FFFFFF;
	text-align:left;
}

.main {
	width:100%;
}

#header {
	height:306px;
	background:url(../images/h_back1.gif) no-repeat 100% 63px;
}

#menu {
	height:63px;
}

#menu .col1 {
	float:left;
}

#menu .col1 .indent {
	padding:25px 0 0 25px;
}

#menu .col2 {
	float:right;
}

#menu .col2 .indent {
	padding:22px 14px 0 0;
}

#menu li {
	float:left;
	color:#1465a4;
	font-weight:bold;
	list-style:none;
}

#menu li a {
	color:#1465a4;
	text-decoration:none;
	padding-right:34px;
}

#menu li a:hover {
	text-decoration:underline;
}

#logo .indent {
	padding:82px 0 0 37px;
}

#logo span {
	font-size:0.91em;
	color:#ffffff;
	font-weight:bold;
}

h1 {
	font-family:Arial;
	font-size:3.36em;
	color:#ffffff;
	line-height:1.01em;
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:-3px;
}

h1 a {
	color:#ffffff;
	text-decoration:none;
}

#content {
	width:100%;
	background:url(../images/b_talling.gif) repeat-x left top #FFFFFF;
}

#content .indent {
	padding:26px 26px 20px 26px;
}

#left_column {
	float:left;
	width:23%;
}

#left_column .in1 {
	background:url(../images/l_col_tall.gif) repeat-y left top;
}

#left_column .in2 {
	background:url(../images/top.jpg) no-repeat left top;
}

#left_column .in3 {
	background:url(../images/bottom.jpg) no-repeat left bottom;
	width:100%;
}

#left_column .in4 {
	padding:24px 60px 10px 42px;
}

#center_column {
	float:left;
	width:76%;
}

#center_column .indent {
	padding:10px;
}

.widget_style {
	width:auto;
	margin-bottom:15px;
}

h2 {
	color:#1465a4;
	font-size:1.01em;
	font-weight:bold;
	text-transform:uppercase;
	padding-top:3px;
	padding-bottom:3px;
}

h2 a {
	color:#1465a4;
	text-decoration:none;
}

h2 a:hover {
	text-decoration:none;
}

ul {
	margin:0;
}

.widget_style ul {
	margin:0;
}

.widget_style li {
	line-height:1.81em;
	color:#383838;
	background:url(../images/pimp1.gif) no-repeat 0px 8px;
	padding-left:11px;
}

.widget_style li a {
	color:#383838;
	text-decoration:underline;
}

.widget_style li a:hover {
	text-decoration:none;
}

#recent-comments.widget_style li {
	background:none;
	color:#ffffff;
	font-weight:bold;
	padding-left:0;
}

#recent-comments.widget_style li a {
	color:#ffffff;
	text-decoration:underline;
	font-weight:normal;
}

#recent-comments.widget_style li a:hover {
	text-decoration:none;
}

#recent-posts.widget_style li {
	background:none;
	color:#ffffff;
	font-weight:bold;
	padding-left:0;
}

.searching {
	width:289px;
	height:auto;
	color:#000000;
	font-weight:bold;
	background-color:#FFFFFF;
	height:18px;
	margin-right:11px;
}

#links_with_style ul {
	margin-left:0;
	background:none;
}

#links_with_style ul ul {
	margin:0 0 0 0;
	background:none;
	margin-top:12px;
}

#links_with_style ul li {
	list-style:none;
	margin:0;
	padding:0;
	background:none;
}

#links_with_style ul li ul li {
	padding:0 0 0 11px;
	color:#2A2A2A;
	font-size:1.01em;
	background:url(../images/pimp1.gif) no-repeat 0px 8px;
}

ul.children {
	margin:0;
}

#meta {
	vertical-align:top;
}

#categories {
	vertical-align:top;
}

#archives {
	vertical-align:top;
}

#archives li {
}

#title {
	background:url(../images/titleback.gif) repeat-x left bottom;
	padding-bottom:20px;
	width:100%;
}

#title .col1 {
	float:left;
	padding-left:4px;
	width:auto;
}

#title .col2 {
	float:right;
	padding-right:4px;
	padding-top:5px;
	width:auto;
}

h3 {
	color:#111312;
	font-weight:bold;
	font-size:1.01em;
	line-height:1.01em;
}

h3 a {
	color:#111312;
	text-decoration:none;
}

h3 a:hover {
	text-decoration:underline;
}

.author {
	color:#6e6e6e;
	font-size:1.01em;
}

.author a {
	color:#6e6e6e;
	text-decoration:none;
}

.author a:hover {
	text-decoration:underline;
}

.date {
	font-size:1.01em;
	color:#587c9b;
	font-size:1.01em;
	font-weight:bold;
	background:url(../images/pimp2.gif) no-repeat 0px 0px;
	padding-left:14px;
}

#comments {
	color:#1465a4;
	text-align:left;
	padding-top:15px;
}

#comments a {
	text-decoration:underline;
	color:#1465a4;
	font-size:1.01em;
}

#comments a:hover {
	text-decoration:none;
}

#content_text {
	background:url(../images/line.gif) repeat-x left bottom;
	margin-bottom:28px;
}

#content_text .indentX {
	padding:11px 4px 0 4px;
	text-align:justify;
}

#content_text ul {
	padding:0;
	list-style:none;
}

#content_text li {
	line-height:2.09em;
	color:#484545;
}

#content_text li a {
	color:#484545;
	text-decoration:underline;
	background:url(../images/pimp3.gif) no-repeat left;
	padding-left:13px;
}

#content_text li a:hover {
	text-decoration:none;
}

.postmetadataalt {
	font-size:0.81em;
}

.pagetitle {
	color:#FF0000;
	font-size:1.01em;
	font-weight:bold;
	text-transform:uppercase;
	padding:20px 0px 0px 0;
	background:none;
}

p {
	padding:10px 0px 10px 0px;
}

.article {
	padding:0;
}

.post {
	padding:0px 5px 0px 5px;
}

.navigation {
	padding:0px 0px 10px 0px;
	width:100%;
	color:#000000;
	font-size:1.01em;
}

.navigation a {
	color:#000000;
	font-weight:bold;
}

.navigation .left {
	width:45%;
	float:left;
	padding-left:10px;
}

.navigation .right {
	width:45%;
	float:right;
	text-align:right;
	padding-right:10px;
}

#footer {
	color:#565656;
	text-align:right;
	padding:30px 28px 30px 0;
	background:url(../images/f_back.gif) repeat-x left top #ffffff;
}

#footer a {
	color:#565656;
	text-decoration:underline;
}

#footer a:hover {
	text-decoration:none;
}

#recent-comments {
	padding-top:25px;
}

#recent-posts {
	vertical-align:top;
}

#calendar {
	vertical-align:top;
}

#calendar caption {
	font-weight:bold;
	color:#FF0000;
	padding-bottom:5px;
	width:auto;
}

#google-search {
	vertical-align:top;
}

#gsearch {
	text-align:left;
}

#pages {
	vertical-align:top;
}

#text-1 {
	vertical-align:top;
}

#delicious {
	vertical-align:top;
}

#delicious-box {
	text-align:left;
}

#calendar_wrap {
	vertical-align:top;
	padding:13px 0px 0px 15px;
}

#calendar_wrap a {
	font-weight:bold;
}

.textwidget {
	padding:13px 0px 0px 0px;
}

#statusbar {
	text-align:justify;
	color:#000000;
	padding-bottom:10px;
}

#statusbar p {
	padding:0px 0px 0px 0px;
}

#statusbar a {
	font-weight:bold;
	color:#FF9900;
}

.widget_style.search {
	background:none;
	margin:0;
	padding:0;
}


div.pagination{
    
    margin:0px 0 0 0; 
    height:auto; 
    width:780px; 
    clear:both;
} 
div.pagination a.pag{
    padding:5px 10px 5px 10px; 
    background:#CCCCCC; 
    display:inline-block; 
    color:#000; 
    text-decoration:none;  
    margin:5px 0px 0px 0px;
    border:#C9C9C9 1px solid;
    font-size:12px; 
    font-weight: bold;
    text-align:center; 
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    -khtml-border-radius: 3px; 
    border-radius: 3px;
    background: #f9f9f9; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #f9f9f9 0%, #eaeaea 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f9f9f9 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f9f9f9 0%,#eaeaea 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f9f9f9 0%,#eaeaea 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f9f9f9 0%,#eaeaea 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#eaeaea',GradientType=0 ); /* IE6-8 */

}

div.pagination a.pag:hover{
    background:#626262; 
    color:white;     
}

div.pagination a.current{
    background:#626262; 
    color:white;  
    
}

.tblack{
    
    color:black !important;
    
}

#contact_form input,textArea
{
    width: 300px;
    
}

#contact_form textArea
{
    height: 150px;
    
}

#contact_form label{
    width: 200px;
    display: block;
    padding:10px;
}