{% extends 'AcmeDemoBundle::admin.html.twig' %}

{% block title %}Strona główna{% endblock %}

{% block content_header '' %}

{% block main_menu %}{% render url('_sidebarAdmin') %}{% endblock %}


{% block content %}

Witamy w panelu

{% endblock %}
