

<ul id="mainmenu">
    <li>
        <a href="{{ path('_welcome') }}">Strona główna</a>
    </li>    
    <li>
     <a href="{{ path('news') }}">Aktualności</a>
    </li>
    {% if is_granted('ROLE_ADMIN') %}
    <li>
     <a href="{{ path('category') }}">Kategorie</a>
    </li>    
    <li>
     <a href="{{ path('user') }}">Użytkownicy</a>
    </li>
    <li>
     <a href="{{ path('sites') }}">Strony tekstowe</a>
    </li>
    {% endif %}
</ul>

