{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "Symfony - Contact form" %}

{% block main_menu %}{% render url('_sidebar') %}{% endblock %}


{% block content %}
    <form action="{{ path('_demo_contact') }}" method="POST" id="contact_form">
        {{ form_errors(form) }}

        {{ form_row(form.email) }}
        {{ form_row(form.message) }}

        {{ form_rest(form) }}
        
    </form>
{% endblock %}
