{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "Emaail wysłany" %}
{% block main_menu %}{% render url('_sidebar') %}{% endblock %}
{% block content_header '' %}

{% block content %}
{% for flashMessage in app.session.flashbag.get('notice') %}
                        <div class="flash-message">
                           {{ flashMessage }}
                        </div>
{% endfor %}    
{% endblock %}
