{% extends "AcmeDemoBundle::admin.html.twig" %}
{% block main_menu %}{% render url('_sidebarAdmin') %}{% endblock %}

{% block content%}

    <h1>{% trans %}News edit{% endtrans %}</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('news') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
