{% extends "AcmeDemoBundle::admin.html.twig" %}
{% block main_menu %}{% render url('_sidebarAdmin') %}{% endblock %}

{% block content %}
    <h1>{% trans %}News list{% endtrans %}</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>{% trans %}Title{% endtrans %}</th>
                <th>{% trans %}Description{% endtrans %}</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>{% trans %}Author{% endtrans %}</th>
                 {% endif %}
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('news_show', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                <td>{{ entity.description }}</td>                
                {% if is_granted('ROLE_ADMIN') %}
                <td>{{ entity.user }}</td>
                 {% endif %}
                <td>
                <ul>
                    <li>
                        <a href="{{ path('news_show', { 'id': entity.id }) }}">{% trans %}show{% endtrans %}</a>
                    </li>
                    <li>
                        <a href="{{ path('news_edit', { 'id': entity.id }) }}">{% trans %}edit{% endtrans %}</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('news_new') }}">
                {% trans %}Add{% endtrans %}
            </a>
        </li>
    </ul>
    {% endblock %}
