{% extends "AcmeDemoBundle::admin.html.twig" %}
{% block main_menu %}{% render url('_sidebarAdmin') %}{% endblock %}

{% block content%}
    <h1>{% trans %}News creation{% endtrans %}</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('news') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
</ul>
{% endblock %}
