{% extends "AcmeDemoBundle::admin.html.twig" %}
{% block main_menu %}{% render url('_sidebarAdmin') %}{% endblock %}

{% block content%}
    <h1>{% trans %}Sites list{% endtrans %}</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>{% trans %}Title{% endtrans %}</th>
                <th>{% trans %}Content{% endtrans %}</th>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('sites_show', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                <td>{{ entity.content }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('sites_show', { 'id': entity.id }) }}">{% trans %}show{% endtrans %}</a>
                    </li>
                    <li>
                        <a href="{{ path('sites_edit', { 'id': entity.id }) }}">{% trans %}edit{% endtrans %}</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('sites_new') }}">
                {% trans %}Create a new entry{% endtrans %}
            </a>
        </li>
    </ul>
    {% endblock %}
