{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block title %}Aktualności autora - {{author}}{% endblock %}

{% block content_header '' %}

{% block main_menu %}{% render url('_sidebar') %}{% endblock %}


{% block content %}

<h1 class="tblack">Aktualności autora: {{author}}</h1>

<br><br>
<ul>
    {% for onenew in news %}
    <li>
     
     <a href="{{ path('index_show', { 'id': onenew.id }) }}">{{ onenew.title }}</a><br>
     {{ onenew.description }}<br>     
    </li>
    {% endfor %}
</ul>
{{ render(controller('AcmeDemoBundle:Pagginator:index', {'count': count,'perpage':per_page})) }}

{% endblock %}
