{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block title %}Aktualności kategorii - {{category.title}}{% endblock %}

{% block content_header '' %}

{% block main_menu %}{% render url('_sidebar') %}{% endblock %}


{% block content %}

<h1 class="tblack">Ostatnie aktualności dla kategorii {{category.title}}</h1>
<br><br>
{% if news %}
<ul>
    {% for onenew in news %}
    <li>
            <div id="title">
                <div class="col1">
                    <h3> <a href="{{ path('index_show', { 'id': onenew.id }) }}">{{ onenew.title }}</a></h3>
                    <span class="author">Autor: <a href="{{ path('index_authors', { 'id': onenew.user.id }) }}">{{ onenew.user}}</a>
                    </span>
                    <br>
                </div>
                <div class="col2"> 
                    <span class="date">{{ onenew.showDate }}
                    </span>
                    <br>
                </div>
                <div class="clear">
                </div>
            </div>
            <div id="content_text">
                <div class="indentX">

                  {{ onenew.description }}

                    <div class="clear">
                    </div>
                </div>
            </div>       
        </li>
    {% endfor %}
</ul>

{{ render(controller('AcmeDemoBundle:Pagginator:index', {'count': count,'perpage':per_page,'show_buttons':2})) }}

{% else %}

<br>Brak aktualności w tej kategorii

{% endif %}


{% endblock %}
