{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block title %}Strona główna{% endblock %}

{% block content_header '' %}

{% block main_menu %}{% render url('_sidebar') %}{% endblock %}
{% block left_menu %}{% render url('_leftbar') %}{% endblock %} 

{% block content %}

<ul>
    {% for onenew in news %}
        <li>
            <div id="title">
                <div class="col1">
                    <h3> <a href="{{ path('index_show', { 'id': onenew.id }) }}">{{ onenew.title }}</a></h3>
                    <span class="author">Autor: <a href="{{ path('index_authors', { 'id': onenew.user.id }) }}">{{ onenew.user}}</a>
                    </span>
                    <br>
                </div>
                <div class="col2"> 
                    <span class="date">{{ onenew.showDate }}
                    </span>
                    <br>
                </div>
                <div class="clear">
                </div>
            </div>
            <div id="content_text">
                <div class="indentX">

                  {{ onenew.description }}

                    <div class="clear">
                    </div>
                </div>
            </div>       
        </li>
    {% endfor %}
    </ul>

{% endblock %}
