<div class="widget_style" id="categories"><h2>Kategorie</h2>
    <ul>
        {% for category in categories %}
        <li class="cat-item cat-item-1">
            <a href="{{ path('index_category', { 'id': category.id }) }}">{{ category.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="widget_style" id="categories"><h2>Autorzy</h2>
    <ul>
        {% for author in authors %}
        <li class="cat-item cat-item-1">
            <a href="{{ path('index_authors', { 'id': author.id }) }}">{{ author }}</a>
        </li>
        {% endfor %}
    </ul>
</div>



