{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block title %}Aktualności - {{news.title}}{% endblock %}

{% block content_header '' %}

{% block main_menu %}{% render url('_sidebar') %}{% endblock %}

{% block content %}


     <h1 class="tblack">{{ news.title }}</h1>
     <br>Autor: <a href="{{ path('index_authors', { 'id': news.user.id }) }}">{{ news.user }}</a> 
     <br>
     {{ news.content }}<br>

{% endblock %}
