<div class="col1">
    <div class="indent">
        <li>
            <a href="{{ path('_welcome') }}">Strona główna</a>
        </li>  
              {% for site in sites %}
        <li class="page_item page-item-7">
            <a href="{{ path('index_sites', { 'id': site.id }) }}">{{ site.title }}</a>
        </li>
              {% endfor %}
        <li>
            <a href="{{ path('_demo_contact') }}">Kontakt</a>
        </li>
    </div>
</div>
<div class="clear">
</div>


