{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block title %}{{site.title}}{% endblock %}

{% block content_header '' %}

{% block main_menu %}{% render url('_sidebar') %}{% endblock %}
 

{% block content %}

<h1>{{ site.title }}</h1><br>
{{ site.content }}
{% endblock %}
